flows/Indicate_Product_Package_Loans_Have_Policy_Exceptions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Exit</name>
        <label>Exit</label>
        <locationX>536</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>Exit_Flow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Loan_Has_PEs</name>
        <label>Loan Has PEs?</label>
        <locationX>1068</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Indicate_PP_Loans_Have_PEs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loan Has PEs</defaultConnectorLabel>
        <rules>
            <name>No_PEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Policy_Exception</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Loans</targetReference>
            </connector>
            <label>No PEs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>313</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Get_Ready_to_Review_Loan_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Loan_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Loan_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit</targetReference>
            </connector>
            <label>No Loan Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_0</name>
        <label>Null Check</label>
        <locationX>639</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Loans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Ready_for_Review_Loans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Product_Package_Review_Ready_Loans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indicate_PP_Loans_Have_NO_PEs</targetReference>
            </connector>
            <label>No Ready for Review Loans</label>
        </rules>
    </decisions>
    <description>Indicates on PP if ready to review Loans have PEs. Runs when a PE is added to a Loan, when a Loan is marked &apos;Is Ready for Review&apos;, and is also called by a PE after delete trigger so PP indicator is always correct.</description>
    <interviewLabel>Indicate Product Package Loans Have Policy Exceptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Indicate Product Package Loans Have Policy Exceptions</label>
    <loops>
        <description>Look for policy exceptions</description>
        <name>Loop_Over_Loans</name>
        <label>Loop Over Loans</label>
        <locationX>879</locationX>
        <locationY>432</locationY>
        <assignNextValueToReference>Loan_Iterator</assignNextValueToReference>
        <collectionReference>All_Product_Package_Review_Ready_Loans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Policy_Exceptions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Indicate_PP_Loans_Have_NO_PEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Loan_Record</name>
        <label>Get Loan Record</label>
        <locationX>188</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_loanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Input_Loan_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Package__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Exceptions</name>
        <label>Get Policy Exceptions</label>
        <locationX>1075</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Has_PEs</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Iterator.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Policy_Exception__c</object>
        <outputReference>Policy_Exception</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ready_to_Review_Loan_Collection</name>
        <label>Get Ready to Review Loan Collection</label>
        <locationX>487</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check_0</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Is_Review_Ready__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Loan_Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Package__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>All_Product_Package_Review_Ready_Loans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Package__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Indicate_PP_Loans_Have_NO_PEs</name>
        <label>Indicate PP Loans Have NO PEs</label>
        <locationX>764</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>Exit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Loan_Record.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Included_Loans_Have_Policy_Exceptions__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Indicate_PP_Loans_Have_PEs</name>
        <label>Indicate PP Loans Have PEs</label>
        <locationX>1071</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Exit</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan_Iterator.LLC_BI__Product_Package__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Included_Loans_Have_Policy_Exceptions__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Product_Package__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>428</locationY>
        <connector>
            <targetReference>Get_Loan_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>All_Product_Package_Review_Ready_Loans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>Exit_Flow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Input_Loan_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>input from process builder launched by policy exception creation</description>
        <name>input_loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Loan_Iterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>Only used to test to see if Loan has PEs</description>
        <name>Policy_Exception</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Policy_Exception__c</objectType>
    </variables>
    <variables>
        <description>PP that contains Loan with input LoanId</description>
        <name>Product_Package</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Product_Package__c</objectType>
    </variables>
</Flow>
