flows/Update_Opportunity_from_Loan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>test</description>
        <name>Does_CLA_exist</name>
        <label>Does CLA exist</label>
        <locationX>329</locationX>
        <locationY>214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_CLA_exist2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PL_Commercial_Loan_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PL_Scenario</targetReference>
            </connector>
            <label>Does CLA exist</label>
        </rules>
    </decisions>
    <interviewLabel>Update Opportunity from Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Opportunity from Loan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PL_Commercial_Loan_Account</name>
        <label>Get PL Commercial Loan Account</label>
        <locationX>70</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_CLA_exist</targetReference>
        </connector>
        <filters>
            <field>PLNDR__Short_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewnCinoLoan.PL_Short_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PLNDR__Commercial_Loan_Account__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PLNDR__PrecisionLender_Scenario__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PL_Scenario</name>
        <label>Get PL Scenario</label>
        <locationX>484</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_nCino_Loan</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PL_Commercial_Loan_Account.PLNDR__PrecisionLender_Scenario__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PLNDR__PrecisionLender_Scenario__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PLNDR__Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_nCino_Loan</name>
        <label>Update nCino Loan</label>
        <locationX>696</locationX>
        <locationY>57</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewnCinoLoan.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_PL_Scenario.PLNDR__Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordUpdates>
    <start>
        <locationX>71</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_PL_Commercial_Loan_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewnCinoLoan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
</Flow>
